/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: grey;
  background-color: white;
}
/* / GENERAL */

/* GENERAL BUTTON*/
.btn {
  display: inline-block;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  line-height: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
}

.btn.btn-blue {
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn.btn-blue:active {
  background-color: #06203b;
}
.btn.btn-blue:hover {
  color: rgb(243, 185, 60);
}

.btn.btn-green {
  background-color: #7cbb04;
  border: none;
}

.btn.btn-green:active {
  background-color: #548003;
}

.btn.btn-green:hover {
  color: rgba(255, 255, 255, 0.801);
}

.btn.btn-medium {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 4%;
  font-size: 0.7em;
  width: 35%;
}

.btn.btn-large {
  padding: 15px;
}
/* / GENERAL BUTTON*/

/* MENU BOTTON FIXED */
.btn.btn-green.help {
  position: fixed;
  bottom: 0;
  right: 14%;
}

.btn.btn-green.help a {
  text-decoration: none;
  color: white;
}

.btn.btn-green.help:hover a {
  color: rgba(255, 255, 255, 0.801);
}
/* MENU BOTTON FIXED */

/* HEADER */ /*  HEADER CONTAINER */
header {
  width: 100%;
  height: 550px;
  background-color: #0c325a;
}

.header-container {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  padding: 0 10%;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

.header-nav {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.header-nav .header-logo {
  width: 15%;
}

.header-nav .header-logo img {
  margin-top: 15px;
}

.header-nav .header-nav-center {
  width: 45%;
}

.header-nav .header-nav-right {
  width: 40%;
  text-align: right;
}
/* / HEADER CONTAINER */

/* HEADER MENU */
.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline;
  padding: 0 10px;
}

.menu-inline li:hover a {
  color: coral;
}

.menu-inline li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
}
/* / HEADER MENU */

/* HEADER JUMBOTRON*/
.jumbotron {
  position: relative;
  height: 470px;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-text h1 {
  color: white;
  font-size: 300%;
  font-weight: 400;
  margin-bottom: 30px;
}
/* / HEADER JUMBOTRON*/

/* MAIN */
main {
  width: 100%;
}

/* MAIN BANNER */
main .banner {
  width: 100%;
  background-color: #d4d3d3;
  min-width: 800px;
}

.banner-text {
  text-align: center;
  height: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.banner-text h2 {
  color: black;
  margin-bottom: 6px;
  font-weight: 500;
}

.banner-text p {
  color: #8f8f8f;
  font-size: 1.1em;
}
/* / MAIN BANNER */

/* MAIN SECTION 1*/
.main-section-1 {
  width: 99%;
  padding: 2% 9%;
  border-bottom: 1px solid lightgray;
  min-width: 700px;
  margin: auto;
}

.main-section-1 .skills {
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
}

.skills-image {
  width: 80%;
  height: 125px;
  display: inline-block;
}

.skills-image img {
  height: 100%;
}

.skills-text {
  height: 200px;
  display: inline-block;
}

.skills-text-title {
  width: 100%;
  height: 40%;
}

.skills-text h2 {
  height: 100%;
  color: #7cbb04;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0 3%;
}

.skills-text p {
  color: #929293;
  padding: 0 4.5%;
}

.skills-text hr {
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
}
/* / MAIN SECTION 1 */

/*  MAIN SECTION 2 */
.main-section-2 {
  width: 100%;
  padding: 2% 10%;
  margin: auto;
  border-bottom: 1px solid lightgray;
  min-width: 700px;
}

.main-section-2 .level {
  width: calc(100% / 2);
  text-align: center;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.main-section-2 h2 {
  color: black;
  font-weight: 500;
  font-size: 1.8em;
  padding-left: 5%;
  padding-right: 2%;
  margin-bottom: 10px;
}

.main-section-2 p,
.main-section-2 a {
  padding-left: 5%;
  margin-bottom: 10px;
}

.main-section-2 a {
  font-size: 0.8em;
  color: blue;
}
/* / MAIN SECTION 2 */

/* MAIN SECTION 3 */
.main-section-3 {
  width: 100%;
  height: 120px;
  background-color: #d4d3d3;
  min-width: 800px;
}

.main-section-3-container {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  padding: 0 10%;
}

.main-section-3-container-left,
.main-section-3-container-right {
  width: 50%;
  height: 100%;
  line-height: 120px;
}

.main-section-3-container-left h2 {
  color: black;
  font-weight: 500;
}

.main-section-3-container-right {
  text-align: right;
}

.contact,
.selection,
.main-section-3.btn-large {
  display: inline;
  padding-right: 35px;
}
/* / MAIN SECTION 3 */

/*  MAIN SECTION 4 */
.main-section-4 {
  width: 99%;
  padding: 6% 9%;
  margin: auto;
  border-bottom: 1px solid lightgray;
  min-width: 700px;
}

.main-section-4 .discover {
  width: calc(100% / 2);
  padding-left: 5%;
  padding-right: 5%;
}

.main-section-4 .discover-text {
  padding-left: 20px;
}

.main-section-4 h2 {
  color: black;
  font-weight: 500;
  font-size: 1.8em;
  padding-right: 2%;
  margin-bottom: 22px;
  margin-top: 22px;
}

.main-section-4 p,
.main-section-4 a {
  margin-bottom: 22px;
}

.main-section-4 a {
  font-size: 0.8em;
  color: blue;
}

.speaking {
  display: inline-block;
  width: 35%;
  text-align: center;
}

.speaking a {
  text-decoration: none;
  height: 100%;
}

.discover .btn {
  color: white;
}
/* / MAIN SECTION 4 */

/* MAIN SETION 5 */
.main-section-5 {
  width: 100%;
  padding: 6% 10%;
  margin: auto;
  min-width: 700px;
  text-align: left;
}

.main-section-5 .find_us {
  padding-left: 5%;
  padding-right: 5%;
}

.find_us-image {
  width: 50%;
  margin: auto;
}

.find_us-text {
  text-align: center;
}

.find_us-text-title {
  width: 100%;
  height: 40%;
}

.find_us-text h2 {
  height: 100%;
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0 3%;
}

.find_us-text span {
  color: #7cbb04;
}

.find_us-text p {
  color: #8f8f8f;
  padding: 0 25.5%;
  margin-bottom: 20px;
}

.find_us-text h2 + p {
  font-size: 0.8em;
}

.find_us-text a {
  font-size: 0.8em;
  color: blue;
}
/* / MAIN SETION 5 */

/* MAIN SECTION 6 */
.main-section-6 {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 10%;
  padding-right: 63.5%;
  margin: auto;
  background-color: #0c325a;
}

.main-section-6 h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8em;
  padding-right: 2%;
  margin-bottom: 22px;
  margin-top: 22px;
}

.main-section-6 p,
.main-section-4 a {
  margin-bottom: 22px;
}

.main-section-6 .btn-large{
  padding: 5px 10px;
}
/* / MAIN SECTION 6 */

/*  MAIN SECTION 7 */
.main-section-7{
  width: 100%;
  padding: 5% 22%;
  min-width: 900px;
}

.main-section-7 h2{
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;
  color: black;
}

.main-section-7 .profile{
  width: 100%;
}

.main-section-7 .profession{
  width: calc(100% / 3);
  height: 300px;togli
  padding-right: 2%;
}

.main-section-7 .profession-image{
  width: 100%;
  height: 10%;
  margin-bottom: 15px;
}

.main-section-7 img{
  height: 100%;
}

.main-section-7 .profession-text{
  width: 95%;
  height: 40%;
}

.main-section-7 .profession-text-title{
  height: 30%;
}

.main-section-7 h3{
  color: black;
  height: 100%;
}

.main-section-7 p{
  color: #8f8f8f;
  height: 70%;
  border-bottom: 8px solid black;
}

.main-section-7 .structure{
  padding-top: 5%;
  width: 95%;
}

.student .profession-text p:nth-of-type(1){
  border-bottom: 8px solid #97C8F5;
}

.worker .profession-text p:nth-of-type(1){
  border-bottom: 8px solid #FBA504;
}

.company .profession-text p:nth-of-type(1){
  border-bottom: 8px solid #80B607;
}
.student .structure a:nth-of-type(1){
  color: #97C8F5;
}

.worker .structure a:nth-of-type(1){
  color: #FBA504;
}

.company .structure a:nth-of-type(1){
  color: #80B607;
}
/* / MAIN SECTION 7 */

/* MAIN SECTION 8 */
.main-section-8 {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  margin: auto;
  background-color: #0c325a;
}

.main-section-8 h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8em;
  padding-right: 2%;
  margin-bottom: 22px;
  margin-top: 22px;
}

.main-section-8 span{
  color: #FBA504;
}
/* / MAIN SECTION 8 */
